---
import { Image } from 'astro:assets';
import img1 from '../assets/img1.jpg';
import img2 from '../assets/img2.jpg';
import img3 from '../assets/img3.jpg';
import img4 from '../assets/img4.jpg';
import img5 from '../assets/img5.jpg';

interface Image {
    // name: string;
    // description: string;
    link: {
        url?: string;
        // target?: string;
        title?: string;
        // buttonLabel?: string;
    };
};


---

<div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <Image src={img1} alt={'hiking photo'} />
        <Image src={img2} alt={'Split keyboard Photo'} />
        <Image src={img3} alt={'hiking photo'} />
        <Image src={img4} alt={'hiking photo'} />
        <Image src={img5} alt={'hiking photo'} />
    </div>

</div>
